// Specific CSS for your home-page
.h2{
  margin-right: auto;
  margin-left: auto;
}
.form-inputs-signin{
  padding: 12px;
}


 #signin {
  height: 400px;
  width :40%;
  background-color: white;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
   margin-right: auto;
  margin-left: auto;

 }
#signup {
  height: 600px;
  width :40%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  height:400px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}
.form-inputs-signup {
 padding: 12px;


}
.bbb{
  margin-right: auto;
  margin-left: auto;

}
