<!-- wait for ronan to finish the beach show page</!-->
<!-- show the edit form -->
<!-- simple form to take over the dates already filled in bookings(params[:booking_id]) -->

<h1>Booking edits</h1>


