.card-product {
  overflow: hidden;
  height: 400px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 10px;
}

.card-product > div {
  padding: 0;
}
.card-product img {
  height: 100%;
  width: 320px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;
  flex-grow: 1;
  margin: 20px;
  align-items: top
}

.card-product .booking-page {
  padding: 30px;
  justify-content: flex-end;


}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 320px;
  margin-top: 20px
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-link{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.price-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 500px;
}

.card-product2 {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  p {
    padding: 2.5px;
  }

}

.card-product2 img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  padding-right: 10px;
}

.card-product2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product2 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;

}

.card-product2 .card-product-infos {
  padding: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
