.navbar-lewagon {
  justify-content: space-between;
  background: orange;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas fa-umbrella-beach {
  color: rgba(20, 198, 226, 0.9);
}
.navbar-nav .nav-item a {
  color: black !important;
  font-size: 17px;
}
.navbar-nav .nav-item a:hover {
  color: red !important;
}
