.navbar-lewagon {
  justify-content: space-between;
  background: orange;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas  {
  color: white;
}
.fas:hover  {
  color: black;
}
.navbar-nav .nav-item a {
  color: white !important;
  font-size: 17px;
}
.navbar-nav .nav-item a:hover {
  color: black !important;
}
