.navbar-lewagon {
  justify-content: space-between;
  background: orange;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-nav .nav-item a {
  color: white !important;
  font-size: 17px;
}
.navbar-nav .nav-item a:hover {
  color: black !important;
}
.fa-umbrella-beach:before {
    content: "\f5ca";
    color: white;
}

